<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Page Title</title>
  <link rel="stylesheet" type="text/css" media="screen" href="{{static_url("main.css")}}" />
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" /> -->
  <!-- Material Design for Bootstrap -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  <!-- Font Awesome -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />


</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1 class="display-2">
        <code>sound-oekaki</code>
      </h1>
      <hr>
      <p>HTML Canvas を利用した描画部分の開発サンプル</p>
    </div>

    <div class="card">
      <div class="card-header">
        <div class="display-4">Canvas</div>
      </div>
      <div class="card-img-bottom">
        <canvas id="canvas"></canvas>
      </div>
      <div class="card-footer">
        <div class="row" id="paint-toolbox">
          <div class="col">
            <button disabled id="btn-undo" class="btn btn-outline-info" data-toggle="tooltip" data-placement="bottom">
              UNDO (0)
            </button>
          </div>
          <div class="col">
            <button id="btn-clear-canvas" type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom">
              <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col">
            <button id="btn-color-picker" type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom">
              <i class="fa fa-paint-brush fa-lg" aria-hidden="true"></i>
            </button>
            <input id="input-color-picker" type="color">
          </div>

          <div class="col">
            <button id="btn-draw-select" class="btn btn-raised btn-secondary">
              Pen
            </button>
          </div>
          <div class="col">
            <button id="btn-modal-rec" class="btn btn-raised btn-danger" data-toggle="modal" data-target="#recModal">
              REC
            </button>
            <!-- MODAL -->
            <div class="modal fade" id="recModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">音を録音する</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <span id="message-modal-rec"><big>録音するには<strong>Start</strong>を押してください</big></span>
                    <canvas id="canvas-analyzer"></canvas>
                  </div>
                  <div class="modal-footer">
                    <button id="btn-modal-close" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="btn-rec-start" type="button" class="btn btn-danger">Start Rec</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="input-group number-spinner">
              <span class="input-group-btn">
                <button class="btn btn-default" data-dir="dwn">
                  <i class="fa fa-minus fa-lg" aria-hidden="true"></i>
                </button>
              </span>
              <input type="text" id="pen-size" class="form-control text-center" value="1">
              <span class="input-group-btn">
                <button class="btn btn-default" data-dir="up">
                  <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>


    <img src="{{static_url("Brush2.png")}}" alt="pen.png" id="img-pen-style" style="display: none">
    <!-- <img src="../static/Brush2.png" alt="pen.png" id="img-pen-style" style="display: none"> -->
  </div>

</body>
<script src="{{static_url("main.js")}}"></script>
<!-- <script src="../static/main.js"></script> -->

</html>
<!--  -->
